#login {
    color: white;
    font-style: normal;
    font-size: 1.875em;
}

.error-alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.navbar-brand-name> {
    display: inline-block;
    float: left;
}

.navbar-brand-name> img {
    display: inline-block;
    float: left;
    padding: 0 5px 0 0;
}

a.no-hover:hover {
    background-color: transparent;
}
