{{ template "header" . }} {{ template "nav" . }}

<main>
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center white-text text-lighten-2">Communicate, Collaborate, Create, Celebrate</h1>
                <div class="row center">
                    <h3 class="header col s12 white-text text-lighten-2">A hack a day ........</h3>
                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="/static/img/code2.jpg" alt="Unsplashed background img 1"></div>
    </div>
    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m3">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">chat</i></h2>
                        <h5 class="center">Communicate</h5>

                        <p>Communicate with your team members flawlessly as you develop.
                            Do not assume anything. Your collegue is one "send
                            message" away </p>
                    </div>
                </div>

                <div class="col s12 m3">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">Collaborate</h5>

                        <p>Share resources, ideas and other things as you create</p>
                    </div>
                </div>

                <div class="col s12 m3">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">code</i></h2>
                        <h5 class="center">Create</h5>
                        <p>Go ahead and hack.</p>
                    </div>
                </div>

                <div class="col s12 m3">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">face</i></h2>
                        <h5 class="center">Celebrate</h5>

                        <p>Celebrate after successfull creation of amazing software</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="parallax"><img src="/static/img/code4.jpg" alt="Unsplashed background img 2"></div>
    </div>

    <br />
    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="/static/img/code7.jpg">
                        <span class="card-title">Programming ought to be fun</span>
                    </div>
                    <div class="card-content">
                        <p>Hackdose is all about making your software development
                            activities so fun that you keep coming back for another
                            dose.
                        </p>
                        <p>
                            So what are you waiting for, sign up and start hacking
                            <i class="material-icons prefix">directions</i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-tite">Sign up</span>
                        <form method="post" action="/user/create_account">
                            <div class="row">
                                <div class="input-field">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input required placeholder="optimous" name="username" id="username" type="text"
                                        class="validate" data-type="username">
                                    <label for="username">username</label>
                                </div>
                                <div class="input-field">
                                    <i class="material-icons prefix">email_circle</i>
                                    <input required placeholder="optimous@transfomers.org" name="email" id="email"
                                        type="email" class="validate">
                                    <label for="email">email</label>
                                </div>
                                <div class="input-field">
                                    <i class="material-icons prefix">lock_circle</i>
                                    <input required placeholder="********" name="password" id="password" type="password"
                                        class="validate">
                                    <label for="password">password</label>
                                </div>
                                <div class="input-field">
                                    <button class="waves-effect waves-light btn grey darken-4" type="submit" data-type="register">
					                    <i class="material-icons left">done_all</i>
					                    sign up
				                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{{ template "footer" }}
