{{ define "header" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"
    />
    <title>ClutchDevs -  {{ .title }} </title>

    <link rel="apple-touch-icon" sizes="57x57" href="/static/img/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/img/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/img/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/img/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/img/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/img/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/img/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"
    />
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"
    />
    <link href="/static/css/animate.css" type="text/css" rel="stylesheet" media="screen,projection"
    />
</head>

<body>
    {{ end }} {{ define "nav" }}
    <div class="navbar-fixed">
        <nav class="grey darken-4" role="navigation">
            <div class="nav-wrapper container">
                <a href="/" class="brand-logo white-text">
                    <div class="navbar-brand-name">
                        <img src="/static/img/icons/logo.png" /> Clutchdevs
                    </div>
                </a>	
		<ul class="right hide-on-med-and-down">
		{{ if eq (len .user) 0 }}	
                    <li><a id="login" href="/user/login">Log in</a></li> 
		{{ else }}
		<li> <a href="/user/profile/{{ .token }}"><i class="large material-icons">account_box</i></a></li>
		{{ end }}
		</ul>
                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#">Navbar Link</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
        <p class="hidden" id="token"> {{ .token }} </p>
    </div>
    {{ end }} {{ define "footer" }} 
    <footer class="page-footer grey darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Drop me a cup of coffee</h5>
                    <p class="grey-text text-lighten-4">Email: juangathure@gmail.com</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Find us on</h5>
                    <ul>
                        <li>
                            <a class="grey-text text-lighten-3" href="#!">
								Facebook
							</a>
                        </li>
                        <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Snapchat</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 Copyright Hackdose

            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="/static/js/jquery-2.1.1.js"></script>
    <script src="/static/js/materialize.js"></script>
    <script src="/static/js/hackdose.js"></script>
    <script src="/static/js/init.js"></script>
</body>

</html>
{{ end }}
