{{ template "header" .  }} 
{{ template "nav" . }}
<main>
    <div class="row">
        <div id="loginform">

        </div>
    </div>
</main>
<script type="text/javascript" src="/static/js/login.bundle.js"></script>
{{ template "footer" }}
