{{ template "header" .Data }} {{ template "nav" .Data }}


<main>
    <div class="row">
        <div class="col s12 m4">
            <div class="card grey darken-4 white-text">
                <div class="card-image">
		    {{ if .UserDetails.Avatar }}
                    {{ else }}
		    <img src="/static/img/noavatar.png" id="user_avatar" height=200>
		    <div class="file-field input-field">
		    <div class="btn-floating halfway-fab waves-effect waves-light grey darken-4" id="upload_avatar">
		    	<i class="material-icons">photo_camera</i>
			<input type="file">
		    </div>
		    </div>
		    {{ end }}
                </div>
	    	<div class="card-content">
		<div>
		    <i class="material-icons"> account_circle </i>
		    <p> {{ .UserDetails.UserName }}
		</div>
		<div>
		    <i class="material-icons"> email  </i>
		    <p> {{ .UserDetails.Email }}
		</div>
		<div>
		    <i class="material-icons"> today </i>
		    <p>
			joined {{ .UserDetails.DateCreated.Format "2 January 2006 at 3:04:02 pm" }}
		    </p>
		</div>
		<div>
		    <i class="material-icons"> people </i>
		    <p> <strong> rooms </strong> </p>
		    {{ if .Rooms }}
		    <div>
		    {{ $token:=.Token }}
		    {{ range .Rooms }}
		    <a class="room_links" href="/rooms/hackon/{{ .Name }}/{{ $token }}/" data-target="user_room" class="waves-effect waves-light btn grey darken-4">
			{{ .Name }}
			<i class="material-icons"> forward </i>
		    </a>
		    {{ end }}
		    </div>
		    {{ else }}
		    <p> no rooms found </p>
		    {{ end }}
		</div>
	    </div>
            </div>
        </div>
        <div class="col s12 m6">
            <br />
            <a href="" id="create_room" class="waves-effect waves-light btn grey darken-4 right">
                create room
                <i class="material-icons">create</i>
            </a>
        </div>
    </div>
</main>

{{ template "footer" }}
