{{ template "header" . }} 
{{ template "nav" . }}
<main>
    <div class="container">
        <div class="row">
            <div id="roomCreate">
            </div>
        </div>
    </div>
</main>
<script type="text/javascript" src="/static/js/roomCreate.bundle.js"></script>
