{{ template "header" . }} {{ template "nav" . }}

<main>
    <div class="container">
        <div id="welcome">
            
        </div>
    </div>
</main>

<script type="text/javascript" src="/static/js/welcome.bundle.js"></script>
{{ template "footer" }}
